<?xml version="1.0" encoding="UTF-8"?>

<Values version="2.0">
  <record name="v1/tools" javaclass="com.wm.util.Values">
    <value name="urlPath">invoke/wx.mcp.server.services.tools/listTools</value>
    <record name="portMap" javaclass="com.wm.util.Values">
    </record>
  </record>
  <record name="v1/add_numbers" javaclass="com.wm.util.Values">
    <value name="urlPath">invoke/wx.mcp.server.services/add</value>
    <record name="portMap" javaclass="com.wm.util.Values">
    </record>
  </record>
  <record name="v1/mcp" javaclass="com.wm.util.Values">
    <value name="urlPath">rad/wx.mcp.server.api:WxMCPServer/mcp</value>
    <record name="portMap" javaclass="com.wm.util.Values">
    </record>
  </record>
  <record name="v1_5_0/mcp" javaclass="com.wm.util.Values">
    <value name="urlPath">rad/wx.mcp.server.api._1_5_0:WxMCPServer/mcp</value>
    <record name="portMap" javaclass="com.wm.util.Values">
    </record>
  </record>
  <record name=".well-known/oauth-authorization-server" javaclass="com.wm.util.Values">
    <value name="urlPath">invoke/wx.mcp.server.services.authServer:getMetaData</value>
    <record name="portMap" javaclass="com.wm.util.Values">
    </record>
  </record>
  <record name=".well-known/oauth-protected-resource" javaclass="com.wm.util.Values">
    <value name="urlPath">invoke/wx.mcp.server.services.prm:getResourceMetaData</value>
    <record name="portMap" javaclass="com.wm.util.Values">
    </record>
  </record>
</Values>
